/* src/components/Sidebar.css */
.sidebar {
    position: fixed; /* Fija el sidebar en la pantalla */
    top: 60px; /* Ajusta la distancia desde el top, debajo del header */
    left: 0;
    width: 200px; /* Ancho del sidebar */
    height: 100%; /* Ocupa todo el alto de la pantalla */
    background-color: #f8f9fa; /* Color de fondo del sidebar */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
  }
  